@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/Inter-Bold.woff2"),
         url("../font/Inter-Bold.woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/Inter-Regular.woff2"),
         url("../font/Inter-Regular.woff");
}

.footer {
    font-family: 'Inter','Helvetica';
    position: relative;
    height: auto;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__container {
    list-style-type: none;
    padding: 0;
}

.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;

    margin: 0;
    margin-right: 6px;
    color: #FFFFFF;
    text-decoration: none;

    display:inline;

}

.footer__author {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 14px;
    text-align: right;

    margin: auto 0;
}
