@import url('./__header/__header.css');
@import url('./__footer/__footer.css');

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/Inter-Bold.woff2"),
         url("../font/Inter-Bold.woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/Inter-Regular.woff2"),
         url("../font/Inter-Regular.woff");
}

.page {
    font-family: 'Inter','Helvetica';
    background-color: #2A2C2F;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    color: #FFFFFF;

    max-width: 1184px;
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
}

@media (max-width:1279px) {
    .page {
        padding:0 4.5%;
    }
}

@media (max-width:1023px) {
    .page {
        padding: 0 24px;
    }
}

@media (max-width:767px) {
    .page {
        padding: 0 16px;
    }
}
