@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/Inter-Bold.woff2"),
         url("../font/Inter-Bold.woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/Inter-Regular.woff2"),
         url("../font/Inter-Regular.woff");
}

.main {
    font-family: 'Inter','Helvetica';
}

.main__section-lead {
    max-width: 83%;
}

.main__section-intro {
    margin: 77px auto;
    max-width: 83%;
}

.main__section-photo-grid {
    margin-top: 97px;
}

.main__section-places {
    margin: 80px auto;
    max-width: 83%;
}

.main__section-video {
    margin-top: 105px;
}

.main__section-comments {
    margin-top: 106px;
}

.main__section-cover {
    margin-top: 82px;
}

@media (max-width:1279px) {
    .main__section-lead, .main__section-intro, .main__section-places {
        max-width: none;
    }

    .main__section-places {
        margin-top: 90px;
    }
}