.lead__image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (max-width:1023px) {
    .lead__image {
        margin-left: -24px;
        width: 100vw;
        max-width:calc(100% + (24px * 2));
        height: 100%;
    }
}

@media (max-width:767px) {
    .lead__image {
        margin-left: -16px;
        width: 100vw;
        max-width: calc(100% + (16px * 2));
        height: 100%;
    }
}