@import url('./__title/__title.css');
@import url('./__subtitle/__subtitle.css');
@import url('./__image/__image.css');
@import url('./__caption/__caption.css');

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/Inter-Bold.woff2"),
         url("../font/Inter-Bold.woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/Inter-Regular.woff2"),
         url("../font/Inter-Regular.woff");
}

.lead {
    font-family: 'Inter','Helvetica';
    margin: 0 auto;
}
