.intro__title {
    text-align: left;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 59px;
}

@media (max-width:767px) {
    .intro__title {
        max-width: 65%;
        text-align: left;
        margin: 0;
        font-size: 2rem;
        line-height: 32px;
    }
}

@media (max-width:320px) {
    .intro__title {
        max-width: 80%;
    }
}