@import url('./page/page.css');
@import url('./header/header.css');
@import url('./main/main.css'); /* не по бэм */
@import url('./lead/lead.css');
@import url('./intro/intro.css');
@import url('./photo-grid/photo-grid.css');
/* @import url('./places/places.css'); */
/* @import url('./video/video.css'); */
/* @import url('./comments/comments.css'); */
/* @import url('./cover/cover.css'); */
/* @import url('./footer/footer.css'); */

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/Inter-Bold.woff2"),
         url("../font/Inter-Bold.woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/Inter-Regular.woff"),
         url("../font/Inter-Regular.woff");
}

.section-title {
    font-style: normal;
    text-align: center;
    font-size: 3.1em;
    font-weight: 900;
    line-height: 78px;
    max-width: 750px;
    margin: 59px auto 0;
}

.section-subtitle {
    text-align: center;
    font-size: 1.5rem;
    max-width: 80%;
    margin: 36px auto;
}

.item_hover-style_dark:hover {
    background-color: rgba(0,0,0,0.8);
    transition: background-color 0.4s linear 0s;
    background-blend-mode: multiply;
}

.text_hover-style_dark:hover {
    opacity: 0.7;
    transition: color 0.2s linear 0s;
}

/* ------------- link -------------  */
.link {
    margin: 0;
}

.link-label {
    margin: 0;
    font-size: 0.75rem;
    line-height: 30px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    text-transform: uppercase;
}

.link-address {
    font-size: 1.125rem;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
/* ============= link =============  */
/* ------------- 1024px -------------  */
@media (max-width:1279px) {
    .main__section-lead, .main__section-intro, .main__section-places {
        max-width: none;
    }

    .main__section-places {
        margin-top: 90px;
    }

    .section-style_slim {
        padding-left: 0;
        padding-right: 0;
    }

    .places__image {
        padding-top: 8px;
    }

    .places__record {
        grid-template-columns: 440px auto;
        grid-column-gap: 31px;
        margin: 0 auto 64px auto;
        grid-row-gap: 40px;
    }

    .places__paragraph {
        padding-block-start: 27px;
    }

    .main__section-comments {
        margin-top: 115px;
    }

    .comments__title {
        line-height: 65px;
    }

    .comments__subtitle {
        margin-top: 37px;
        max-width: 70%;
    }

    .comments__autor {
        margin-top: 18px;
    }

    .cover {
        margin-left: -5%;
        width: 100vw;
    }

    .cover__title {
        max-width: 811px;
        padding-top: 218px;
    }

    .cover__subtitle {
        margin: 74px auto;
    }
}
/* ============= 1024px =============  */

/* ------------- 768px -------------  */
@media (max-width:1023px) {
    .main__section-places {
        margin-top: 72px;
    }

    .places__record {
        grid-template-columns: 340px auto;
        grid-column-gap: 28px;
        grid-row-gap: 38px;
        margin: 0 auto 60px auto;
    }

    .places__record:first-child .places__title {
        max-width: 300px;
    }

    .places__title {
        font-size: 2.625rem;
        max-width: 400px;
        line-height: 47px;
        margin-top: 31px;
    }

    .places__container {
        padding-top: 0;
    }

    .places__paragraph {
        letter-spacing: -0.07rem;
        line-height: 27px;
    }

    .main__section-video {
        margin-top: 118px;
    }

    .video__section-title {
        font-size: 2.625rem;
        max-width: 430px;
        line-height: 46px;
    }

    .video__section-subtitle {
        margin: 32px auto;
        max-width: 90%;
    }

    .video__container {
        margin: 48px auto 0;
    }

    .video__item {
        padding-left: 23px;
        min-height: 201px;
    }

    .video__icon {
        width: 43px;
        height: 43px;
        left: 24px;
        top: 25px;
    }

    .video__info {
        position: absolute;
        bottom: 0;
        left: auto;
        max-width: 90%;
    }

    .video__title {
        font-size: 1.5rem;
        line-height: 26px;
        max-width: 100%;
        margin: 0;
    }

    .video__subtitle {
        margin-top: 6px;
    }

    .video__duration {
        margin: 0 0 7px;
        max-width: 80%;
    }

    .main__section-comments {
        margin-top: 104px;
    }

    .comments__title {
        font-size: 2.625rem;
        max-width: 600px;
        line-height: 46px;
    }

    .comments__subtitle {
        margin-top: 29px;
        max-width: 95%;
    }

    .comments__container {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 48px;
    }

    .comments__item {
        text-align: center;
        grid-template-areas:
        "avatar"
        "autor"
        "quote";
    }

    .comments__avatar {
        margin: 0 auto;
    }

    .comments__autor {
        margin-top: 16px;
    }

    .comments___quote {
        font-size: 1rem;
        max-width: 381px;
        margin-top: 3px;
        text-align: left;
        line-height: 23px;
    }

    .main__section-cover {
        margin-top: 98px;
    }

    .cover {
        margin-left: -24px;
        width: 100vw;
        max-width: calc(100% + (24px * 2));
        padding-top: 170px;
    }

    .cover__title {
        max-width: 811px;
        padding-top: 0px;
    }

    .cover__subtitle {
        margin: 53px auto;
        max-width: 50%;
        padding-bottom: 43px;
    }

    .footer__link {
        font-size: 1rem;
        margin: 0;
        margin-right: 7px;
    }
}
/* ============= 768px =============  */
/* ------------- 425px -------------  */
@media (max-width:767px) {
    .section-title {
        max-width: 90%;
        margin: 46px auto 0;
        line-height: 43px;
    }

    .main__section-intro {
        margin: 65px auto;
    }

    .main__section-places {
        margin: 38px auto;
        max-width: 100%;
    }

    .places__record {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 19px;
        margin: 0 auto 27px auto;
    }

    .places__title {
        font-size: 2rem;
        line-height: 47px;
        margin-top: 21px;
    }

    .places__website {
        display: none;
    }

    .places__image {
        margin-left: -16px;
        width: 100vw;
        max-width: calc(100% + (16px * 2));
    }

    .places__paragraph {
        padding-block-start: 27px;
        max-width: 345px;
    }

    .main__section-video {
        margin-top: 71px;
    }

    .main__section-cover {
        margin-top: 0px;
    }

    .video__section-title {
        font-size: 2rem;
        max-width: 320px;
        margin: 46px auto 0;
        line-height: 35px;
    }

    .video__section-subtitle {
        font-size: 1rem;
        max-width: 660px;
        margin: 22px auto 0;
        line-height: 23px;
    }

    .video__container {
        margin: 26px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 9px;
    }

    .main__section-comments {
        margin-top: 64px;
    }

    .comments__title {
        font-size: 2rem;
        line-height: 35px;
        max-width: 96%;
    }

    .comments__subtitle {
        font-size: 1rem;
        max-width: 660px;
        line-height: 23px;
        margin: 23px auto 0;
    }

    .comments__container {
        margin-top: 41px;
    }

    .cover {
        margin-left: -16px;
        width: 100vw;
        max-width: calc(100% + (16px * 2));
        padding-top: 48px;
        height: auto;
    }

    .cover__title {
        font-size: 2rem;
        max-width: 300px;
        padding-top: 108px;
        line-height: 33px;
    }

    .cover__subtitle {
        font-size: 0.875rem;
        line-height: 17px;
        margin: 18px auto;
        max-width: 72%;
        padding-bottom: 30px;
    }

    .footer__nav {
        flex-direction: column;
    }
    
    .footer__container {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .footer__link {
        font-size: 1.5rem;
        margin: 0 0 28px 0;
        display:list-item;
    }

    .footer__author {
        font-size: 0.875rem;
        text-align: left;
        position: relative;
        margin: 17px 0 21px;
    }

}
/* ============= 425px =============  */
/* ------------- 320px -------------  */
@media (max-width:320px) {   
    .places__image {
        height: auto;
    }

    .main__section-places {
        margin: 33px auto;
    }

    .video__item {
        padding-left: 18px;
    }

    .places__paragraph {
        max-width: 95%;
    }

    .video__item {
        min-height: 191px;
    }

    .video__icon {
        width: 41px;
        height: 41px;
        left: 16px;
        top: 16px;
    }

    .video__info {
        max-width: 90%;
    }

    .video__subtitle {
        margin-bottom: 15px;
    }

    .video__title {
        max-width: 100%;
    }

    .comments__container {
        margin-top: 34px;
    }

    .comments__autor {
        margin-top: 14px;
    }

    .cover {
        padding-top: 39px;
    }

    .cover__subtitle {
        margin: 8px auto;
    }

}