.header__lang {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 35px;
    margin-right: 13px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__lang:last-child {
    margin-right: 0;
}

.header__lang:hover {
    opacity: 0.7;
    transition: color 0.2s linear 0s;
}

@media (max-width:767px) {
    .header__lang {
        font-size: 1.125rem;
        margin-right: 18px;
    }
}

@media (max-width:320px) {
    .header__lang {
        font-size: 1.125rem;
        margin-right: 12px;
    }
}