.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    overflow: hidden;
    position: relative;
    background-color: #F2F2F2;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.logo_place_header {
    top: 30px;
    left: 64px;
    width: 183px;
    height: 32px;
    background-image: url('../images/logo.svg');
}

.logo_place_footer {
    width: 183px;
    height: 35px;
    background-image: url('../images/logo_white.svg');
}

.header__title {
    width: 730px;
    display: flex;
    align-items: center;
    margin-left: 64px;

    font-size: 102px;
    font-weight: bolder;
    line-height: 96px;
    z-index: 100;
}

.header__subtitle {
    width: 388px;
    position: absolute;
    left: 64px;
    bottom: 30px;
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    z-index: 100;
}

.header__link {
    text-decoration: none;
    color: #2F80ED;
}

.header__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    position: absolute;
    top:64px;
    right: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.description {
    padding: 100px 0 100px 0;
}

.two-columns {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.two-columns__brief {
    width: 175px;
    color: #2F80ED;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    font-weight: normal;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    font-size: 24px;
    line-height: 34px;
}

.two-columns__paragraph:first-of-type {
    margin: 0;
}

.two-columns__paragraph {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin: 30px 0 0 0;
}

.two-columns__span-accent {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    margin: 0;
}

.digits {
    padding: 100px 0 100px 0;
}

.section-title {
    /* todo: width : 60px*/
    align-items: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}

.section-title_theme_dark {
    color: white;
}

.section-subtitle {
    /* todo: проверить необходимость всех тегов */
    align-items: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin: 20px 0 0 0;
}

.section-subtitle_theme_dark {
    color: white;
}

.table {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
}

.table-cell {
    margin-top: 60px;
    width: 250px;
}

.table-heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bolder;
    margin: 0;
}

.table-text {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.table_theme_dark {
    color: white;
    position: relative;
    z-index: 100;
}

.table_theme_dark .table-cell{
    margin-top: 80px;
    width: 200px;
    position: relative;
}

.feinman {
    padding-top: 100px;
    position: relative;
    background-size: 867px auto;
    background-image: url("../images/feinman.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    /* todo:  height найден посредством подбора, понимания какая высота у feinman исходя из макета нет ((*/
    height: 800px;
    background-color: #F2F2F2;
}

.feinman__title {
    width: 648px;
    font-size: 120px;
    line-height: 1.15;
    font-weight: bolder;
    margin: auto;
    text-align: center;
}

.feinman__subtitle {
    margin-top: 70px;
    font-size: 36px;
    line-height: 51px;
    text-align: center;
    font-weight: normal;
}

.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    font-size: 36px;
    line-height: 51px;
    color: black;
    text-decoration: none;
}

.kaufman {
    padding: 90px 0 90px 0;
    overflow: hidden;
    background-color: #1F1F1F;
    position: relative;
    overflow: hidden;
    position: relative;
}

.kaufman__triangle {
    background-image: url("../images/triangle.svg");
    background-size: 877px 877px;
    background-repeat: no-repeat;
    height: 877px;
    width: 877px;
    position: absolute;
    top: 0;
    right: -210px;
}

.footer {
    padding: 60px 0 40px 0; 
    background-color: #1F1F1F;
}

.footer__columns {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    min-height: 350px;
    color: white;
}

.footer__column {
    list-style-type: none;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    position: relative;
}

.footer__column_content_info, .footer__column_content_social{
    padding: 0 0 16px 0;
    margin: 0;
}

.footer__author {
    padding: 18px 0 18px 0;
    margin: 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    bottom: 0;
}

.footer__column-heading {
    margin: 0;
    padding: 0 0 20px 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: bolder;
}

.footer__column-links {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
}

.footer__social-icons {
    width: 16px;
    height: 16px;
}
