.lead__subtitle {
    font-weight: normal;
    font-size: 1.87rem;
    line-height: 36px;
    margin: 30px auto 69px;
    max-width: 600px;
    text-align: center;
}

@media (max-width:1023px) {
    .lead__subtitle {
        max-width: 660px;
    }
}
@media (max-width:767px) {
    .lead__subtitle {
        font-size: 1rem;
        max-width: 660px;
        line-height: 23px;
        margin: 14px auto 34px;
    }
}