@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/Inter-Bold.woff2"),
         url("../font/Inter-Bold.woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/Inter-Regular.woff2"),
         url("../font/Inter-Regular.woff");
}

.video {
    font-family: 'Inter','Helvetica';
}

.video__section-subtitle {
    line-height: 33px;
}
.video__container {
    margin: 65px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px;
}

.video__link {
    text-decoration: none;
    color: #FFFFFF;
    display: contents;
}

.video__item {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 5px;
    padding-left: 30px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
}

.video__first {
    background-image: url(../images/kamchatka.jpg);
    background-size: cover;
}

.video__second {
    background-image: url(../images/observatory.jpg);
    background-size: cover;
}

.video__icon {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 41px;
    height: 41px;
}

.video__duration {
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin-top: 30%;
}

.video__title {
    font-style: normal;
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 39px;
    margin: 12px 0;
    max-width: 60%;
    
}

.video__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 15px;
    margin-top: 13px;
    margin-bottom: 26px;
}

/* ============= video =============  */