@import url('./__item/__item.css');
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/Inter-Bold.woff2"),
         url("../font/Inter-Bold.woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/Inter-Regular.woff2"),
         url("../font/Inter-Regular.woff");
}

.photo-grid {
    font-family: 'Inter','Helvetica';
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
}

@media (max-width:1279px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 15px;
    }
}

@media (max-width:1023px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 18px;
        margin-top: 93px;
    }
}

@media (max-width:767px) {
    .photo-grid {
        grid-template-columns: 1fr;
        margin-top: 75px;
        grid-gap: 16px;
    }
}

@media (max-width:320px) {
    .photo-grid {
        grid-gap: 10px;
    }
}