
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("font/Inter-Bold.woff2"),
         url("font/Inter-Bold.woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("font/Inter-Black.woff2"),
         url("font/Inter-Black.woff");
  }

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("font/Inter-Regular.woff2"),
         url("font/Inter-Regular.woff");
}

.page {
    background-color: #2A2C2F;
    font-family: 'Inter','Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;

    width: 1184px;
    margin: 0 auto;
}

.page__footer {
    margin-top: 164px;
    margin-bottom: 48px;
}

.header__page {
    height: 52px;
    margin: 30px auto auto 0;
}

.main {
    
}

.main__section-lead {
    padding-left: 100px;
    padding-right: 100px;
}

.main__section-intro {
    margin-top: 77px;
    padding-left: 100px;
    padding-right: 100px;
}
.main__section-photo-grid {
    margin-top: 88px;
}

.main__section-places {
    margin-top: 79px;
    padding-left: 100px;
    padding-right: 100px;
}

.main__section-video {
    margin-top: 109px;
}

.main__section-additional {
    margin-top: 107px;
}

.main__section-comments {
    margin-top: 111px;
}

.main__section-cover {
    margin-top: 82px;
}

.main__section-emblem {
    margin-top: 83px;
}

.main__section-barentsburg {
    margin-top: 51px;
}

.section-title {
    font-style: normal;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 78px;
    width: 800px;
    margin: 58px auto 0;
}

.section-subtitle {
    text-align: center;
    font-size: 24px;
    width: 640px;
    margin: 38px auto;
}

.item__hover-style_dark:hover {
    background-color: rgba(0,0,0,0.8);
    transition: background-color 0.4s linear 0s;
    background-blend-mode: multiply;
}

.text__hover-style_dark:hover {
    color: rgba(156, 156, 156,0.95);
    transition: color 0.2s linear 0s;
}
/* ------------- header ------------- */

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header__logo {
    margin: 0;
    width: 176.58px;
    height: 52px;
    position: absolute;
    left: 0;
    background-image: url(../images/logo.svg);
}

.header__lang {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    margin-right: 18px;
    width: 30px;
    height: 23px;
    position: relative;
}

.header__lang:last-child {
    margin-right: 0;
    width: 30px;
    height: 23px;
    position: relative;
}

.header__lang_active {
    text-decoration: underline;
}

/* ============= header =============  */
/* ------------- lead ------------- */
.lead {
}

.lead__title {

    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
}

.lead__subtitle {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 70px;
}


.lead__image {
    height: 554.13px;
    display: block;
}

.lead__caption {
    font-size: 10px;
    line-height: 17px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

/* ============= lead =============  */
/* ------------- intro ------------- */

.intro {
}

.intro__title {
    text-align: left;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
}

.intro__subtitle {
    text-align: left;
    margin: 0;
    margin-top: 33px;
    margin-left: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
}

.intro__content-row {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 7px auto 0;
}

.intro__content-text {
    flex-basis: 683px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.intro__content-info {
    flex-basis: 230px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;

    margin-left: 18px;
    margin-top: 16px;
    padding-right: 65px;
    box-sizing: border-box;
}

.intro__text-container {
    width: 500px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    margin-top: 11px;
}

.intro__text {
    margin: 0;
}
/* ============= intro =============  */
/* ------------- photo-grid ------------- */
/* todo: выставить маргин топ */
.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
}

.photo-grid__item {
    width: 284px;
    height: 188px;
}

/* ============= photo-grid =============  */
/* ------------- places -------------  */
.places {

}

.places__website {
    align-self: self-end;
}

.places__record {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-column-gap: 40px;
    grid-row-gap: 52px;
    margin: 0 auto 62px auto;
}

.places__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;

    margin: 23px 0 0;
}

.places__image {
    width: 460px;
    height: 460px;
}

.places__paragraph {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    padding-block-end: 22px;
}

/* ============= places =============  */
/* ------------- link -------------  */
.link {
    margin: 0;
}

.link-label {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

.link-address {
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.link-address:hover {
    color: rgba(156, 156, 156, 0.95);
    transition: color 0.2s linear 0s;
}
/* ============= link =============  */
/* ------------- video -------------  */
.video__container {
    margin: 72px auto;
    display: grid;
    grid-template-columns: 583px 583px;
    grid-gap: 18px;
}

.video__item {
    width: 583px;
    height: 323px;
    position: relative;
    border-radius: 5px;
    padding-left: 30px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
}

.video__first {
    background-image: url(../images/kamchatka.jpg);
    background-size: cover;
}

.video__second {
    background-image: url(../images/observatory.jpg);
    background-size: cover;
}

.video__icon {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 41px;
    height: 41px;
}

.video__duration {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin-top: 165px;
}

.video__title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    margin: 12px 0;
    width: 320px;
    
}

.video__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    margin-top: 13px;
}

/* ============= video =============  */
/* ------------- additional -------------  */
.additional {

}

.additional__container {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-gap: 16px;
    margin-top: 64px
}

.additional__item {
    width: 284px;
    height: 330px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
}

.additional__title {
    font-weight: 900;
    font-size: 27px;
    margin: 30px 18px;
}

.additional__descr {
    font-size: 14px;
    line-height: 20px;
    width: 248px;
    margin: 0 auto;
    margin-bottom: 27px;
}

.additional__item-1 {
    background-image: url(../images/nvrssk.jpg);
    background-size: cover;
    border-radius: 5px;
}

.additional__item-2 {
    background-image: url(../images/shickan.jpg);
    background-size: cover;
    border-radius: 5px;
}

.additional__item-3 {
    background-image: url(../images/cherepovets.jpg);
    background-size: cover;
    border-radius: 5px;
}

.additional__item-4 {
    background-image: url(../images/nikola.jpg);
    background-size: cover;
    border-radius: 5px;
}
/* ============= additional =============  */
/* ------------- comments -------------  */
.comments {

}

.comments__title {
    line-height: 65px;
    width: 850px;
}

.comments__subtitle {
    line-height: 35px;
}

.comments__container {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}

.comments__item {

}
.comments__avatar {
    border-radius: 100px;
    width: 98px;
    height: 98px;
}
.comments___quote {
    margin: 32px auto 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.comments__autor {
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
}
/* ============= comments =============  */
/* ------------- cover -------------  */
.cover {
    height: 594px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    padding-top: 274px;
    box-sizing: border-box;
}

.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;

    text-align: center;
    margin: 0;
}

.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    margin: 121px auto;
    width: 382px;
}
/* ============= cover =============  */
/* ------------- emblem -------------  */
.emblem {
}

.emblem__container {
    width: 1194px;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: space-between;
}

.emblem__title {
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;

    width: 443px;
}

.emblem__item {
    margin: 0 auto;
}

.emblem__image {
    width: 186px;
    height: 226px;
}

.emblem__descr {
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-top: 31px;
}

/* ============= emblem =============  */
/* ------------- barentsburg -------------  */
.barentsburg {
}

.barentsburg__title {
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 61px;
    margin: auto;
}

.barentsburg__coord {
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 61px;

    margin: 0;
}

.barentsburg__map {
    margin-top: 32px;
    width: 1184px;
    height: 464px;
}

.barentsburg__container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.barentsburg__comment {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    width: 380px;
    margin: 0 120px 0 0;
}

.barentsburg__link {
    width: 282px;
}
/* ============= barentsburg =============  */
/* ------------- footer -------------  */
.footer {
    position: relative;
    height: 24px;
}

.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    margin: 0;
    margin-right: 13px;
    color: #FFFFFF;
    text-decoration: none;

}

.footer__author {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: right;

    position: absolute;
    right: 2px;
    bottom: 0px;
    margin: 0;
}
/* ============= footer =============  */
