@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/Inter-Bold.woff2"),
         url("../font/Inter-Bold.woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/Inter-Regular.woff2"),
         url("../font/Inter-Regular.woff");
}

.cover {
    font-family: 'Inter','Helvetica';
    box-sizing: border-box;    
}

.cover__link {
    text-decoration: none;
    color: #FFFFFF;
    display: contents;
}

.cover__block {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;
}

.cover__title {
    padding-top: 274px;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 78px;
    text-align: center;
    margin: 0 auto;
}

.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 26px;
    text-align: center;
    margin: 121px auto;
    padding-bottom: 38px;
    max-width: 35%;
}
