@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/Inter-Bold.woff2"),
         url("../font/Inter-Bold.woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/Inter-Regular.woff2"),
         url("../font/Inter-Regular.woff");
}

.comments {
    font-family: 'Inter','Helvetica';
}

.comments__title {
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 78px;
    text-align: center;
}

.comments__subtitle {
    line-height: 35px;
    margin-top: 44px;
}

.comments__container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}

.comments__item {
    display: grid;
    grid-template-areas: "avatar"  
                         "quote"  
                         "autor";
    /* grid-template-columns: 1fr;   */
    grid-template-rows: 98px fit-content(300px) auto;
    /* grid-template-rows: 98px auto auto; */
}

.comments__avatar {
    border-radius: 100px;
    width: 98px;
    height: 98px;
    grid-area: avatar;
}
.comments___quote {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 24px;
    grid-area: quote;
    margin: 39px auto 0;
}
.comments__autor {
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 24px;
    grid-area: autor;
    margin-top: 12px;
}
/* ============= comments =============  */