.intro__content-text {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding-top: 20px;
    max-width: 70%;
}

@media (max-width:1279px) {
    .intro__content-text {
        line-height: 24px;
        max-width: 75%;
    }
}

@media (max-width:1023px) {
    .intro__content-text {
        max-width: none;
        padding-top: 21px;
        flex-basis: auto;
    }
}

@media (max-width:767px) {
    .intro__content-text {
        padding-top: 9px;
        line-height: 27px;
        font-size: 1rem;
    }
}

@media (max-width: 375px){
    .intro__content-text {
        padding-top: 17px;
    }
}

@media (max-width:320px) {
    .intro__content-text {
        padding-top: 26px;
    }
}