.lead__caption {
    font-size: 0.625rem;
    line-height: 17px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 6px auto;
}

@media (max-width:1023px) {
    .lead__caption {
        margin-top: 9px;
    }
}

@media (max-width:767px) {
    .lead__caption {
        margin-top: 0;
    }
}