@import url('./__title/__title.css');
@import url('./__content-text/__content-text.css');
@import url('./__text-container/__text-container.css');
@import url('./__text/__text.css');

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/Inter-Bold.woff2"),
         url("../font/Inter-Bold.woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/Inter-Regular.woff2"),
         url("../font/Inter-Regular.woff");
}

.intro {
    font-family: 'Inter','Helvetica';
}
