@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/Inter-Bold.woff2"),
         url("../font/Inter-Bold.woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/Inter-Regular.woff2"),
         url("../font/Inter-Regular.woff");
}

.places {
    font-family: 'Inter','Helvetica';
}

.places__record {
    display: grid;
    grid-template-columns: 460px auto;
    grid-column-gap: 40px;
    grid-row-gap: 41px;
    margin: 0 auto 62px auto;
}

.places__title {
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 65px;

    margin: 23px 0 0;
}

.places__website {
    align-self: self-end;
}

.places__image {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
}

.places__container {
    padding-top: 7px;
}

.places__container .places__paragraph:first-child {
    padding-block-start: 0;
}

.places__paragraph {
    margin: 0;
    font-size: 1.125rem;
    line-height: 30px;
    padding-top: 6px;
    padding-block-start: 22px;
}
