.intro__text-container {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    margin-top: 0;
}

@media (max-width:1279px) {
    .intro__text-container {
        margin-top: 18px;
    }
}

@media (max-width:1023px) {
    .intro__text-container {
        margin-top: 29px;
    }
}

@media (max-width:767px) {
    .intro__text-container {
        margin-top: 28px;
        width: 90%;
    }
}

@media (max-width: 375px) {
    .intro__text-container {
        margin-top: 43px;
        width: 90%;
    }
}

@media (max-width:320px) {
    .intro__text-container {
        margin-top: 44px;
        width: 95%;
    }
}
