.lead__title {
    font-style: normal;
    text-align: center;
    font-size: 96px;
    font-weight: 900;
    line-height: 78px;
    max-width: 750px;
    margin: 59px auto 0;
    line-height: 93px;
}

@media (max-width:767px) {
    .lead__title {
        font-size: 2.5rem;
        line-height: 2.75rem;
        max-width: 90%;
        margin: 43px auto 0;
    }
}