.intro__text {
    font-style: normal;
    font-weight: normal;
    font-size: 0.813rem;
    line-height: 20px;
    margin: 0;
}

@media (max-width:1023px) {
    .intro__text {
        margin-top: 10px;
        line-height: 11px;
    }
}

@media (max-width:767px) {
    .intro__text {
        margin-top: 17px;
        font-size: 0.75rem;
        line-height: 2px;
        max-width: 97%;
    }
}

@media (max-width:320px) {
    .intro__text {
        margin-top: 16px;
    }
}