.page__footer {
    margin: 138px auto 48px;
}

@media (max-width:1023px) {  
    .page__footer {
        margin: 72px auto 24px;
    }
}

@media (max-width:767px) {
    .page__footer {
        margin: 65px auto 24px;
        display: grid;
        grid-template-rows: 1fr;
        row-gap: 28px;
    }
}
